@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-stroller:before { content: "\f100"; }
.flaticon-002-crayons:before { content: "\f101"; }
.flaticon-003-sofa:before { content: "\f102"; }
.flaticon-004-fish-bowl:before { content: "\f103"; }
.flaticon-005-working-man:before { content: "\f104"; }
.flaticon-006-working-woman:before { content: "\f105"; }
.flaticon-007-parenting:before { content: "\f106"; }
.flaticon-008-parenting:before { content: "\f107"; }
.flaticon-009-grandfather:before { content: "\f108"; }
.flaticon-010-grandmother:before { content: "\f109"; }
.flaticon-011-cactus:before { content: "\f10a"; }
.flaticon-012-fireplace:before { content: "\f10b"; }
.flaticon-013-desk:before { content: "\f10c"; }
.flaticon-014-housewife:before { content: "\f10d"; }
.flaticon-015-housewife:before { content: "\f10e"; }
.flaticon-016-housewife:before { content: "\f10f"; }
.flaticon-017-housewife:before { content: "\f110"; }
.flaticon-018-tv:before { content: "\f111"; }
.flaticon-019-wedding-cake:before { content: "\f112"; }
.flaticon-020-passport:before { content: "\f113"; }
.flaticon-021-decoration:before { content: "\f114"; }
.flaticon-022-luggage:before { content: "\f115"; }
.flaticon-023-barbecue:before { content: "\f116"; }
.flaticon-024-home:before { content: "\f117"; }
.flaticon-025-birthday-cake:before { content: "\f118"; }
.flaticon-026-baby:before { content: "\f119"; }
.flaticon-027-diaper:before { content: "\f11a"; }
.flaticon-028-piggy-bank:before { content: "\f11b"; }
.flaticon-029-cradle:before { content: "\f11c"; }
.flaticon-030-pacifier:before { content: "\f11d"; }
.flaticon-031-gift:before { content: "\f11e"; }
.flaticon-032-church:before { content: "\f11f"; }
.flaticon-033-education:before { content: "\f120"; }
.flaticon-034-boat:before { content: "\f121"; }
.flaticon-035-gender:before { content: "\f122"; }
.flaticon-036-heart:before { content: "\f123"; }
.flaticon-037-home:before { content: "\f124"; }
.flaticon-038-lego:before { content: "\f125"; }
.flaticon-039-money:before { content: "\f126"; }
.flaticon-040-wedding-ring:before { content: "\f127"; }
.flaticon-041-family:before { content: "\f128"; }
.flaticon-042-pet:before { content: "\f129"; }
.flaticon-043-sunbed:before { content: "\f12a"; }
.flaticon-044-baby-bottle:before { content: "\f12b"; }
.flaticon-045-maternity:before { content: "\f12c"; }
.flaticon-046-baby-clothes:before { content: "\f12d"; }
.flaticon-047-beach-ball:before { content: "\f12e"; }
.flaticon-048-pyramid:before { content: "\f12f"; }
.flaticon-049-cups:before { content: "\f130"; }
.flaticon-050-pot:before { content: "\f131"; }